
/*----------GRID SYSTEM---------*/

*{
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template: repeat(10,1fr) / repeat(5,1fr);
    /*min max( 200px, 300px); in the fraction*/
    width: 100%;
    height: 100vh;
}
.menuContainer{
    grid-column: 1 / 6;
    grid-row: 1; 
    background: black;
    height: 100%;
}
/*---------ANIMATION MENU-----------------*/

.fullMenu{
    color: white;
    position: absolute;
    background: black;
    width: 100%;
    height: 100vh;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullMenu ul a {
    cursor: pointer;
    font-family: 'Vollkorn', serif;
    font-size: 45px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 3px;
    list-style: none;
    width: 100%;
    /* border-bottom:  2px solid white; */
    margin-bottom: 50px; 
    margin-top: 50px; 
    padding: 0px 250px 0 250px; 
    width: 100%;
}
.fullMenu li{
    font-family: 'Vollkorn', serif;
    font-size: 45px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 3px;
    list-style: none;
}
.container .menuContainer{
    justify-content: flex-end;
    display: flex;
}

.container .menuContainer .menu{
    position: relative;
    transform: translate(-140%, 0%);
    width: 60px;
    height: 100px;
    cursor: pointer;
    top: 3px;
    z-index: 1;
}
.container .menuContainer .menu .line{
    position: absolute;
    width: 100px;  
    transition: all .3s;
}
.container .menuContainer .menu .line1{top: 0%;}
.container .menuContainer .menu .line2{top: 30%;}
.container .menuContainer .menu .line3{top: 60%;}

.container .menuContainer .menu.close .line1{
    transform: rotate(45deg) ;
    top: 30%;
}

.container .menuContainer .menu.close .line2{
    transform: rotate(45deg) ;
    top: 30%;
}

.container .menuContainer .menu.close .line3{
    transform: rotate(-45deg) ;
    top: 30%;
} 
/*-------------HOVER -------------*/
a{
    color: white; 
}
a:hover{
    background-image: url(../assets/menuHover_1.svg);
    color: black;
    background-repeat: no-repeat;
    /* background-size: 660px; */
    background-size: cover;
}

/*------------Table Callflow---------------*/
.tableCallflow{
    display: flex;
    grid-column: 1 / 6;
    grid-row: 2 / 11;
    border-collapse: collapse;
    height: 80vh;
    width: 100%;
    justify-content: left;
    align-items: baseline;

}
.tr , td{
    border: black 5px solid;
}
.td{
    width: 40px;
    margin: 0;
}
.columna1 {
    font-family: 'Vollkorn', serif;
    font-size: 20px;
    width: 30rem;
    background: white;
    text-align: center;
    padding: 20px;
}
.columna2{
    font-family: 'Vollkorn', serif;
    font-size: 20px;
    width: 70rem;
    background: black;
    color: white;
    height: 100vh;
    padding: 20px;
}
.list{
    justify-content: space-around;
    display: grid;
    width: 100%;
    height: 90vh;
}
/*  select{
    grid-column: 2 / 4;
}  */