
/*----------GRID SYSTEM---------*/

*{
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    grid-template: repeat(10,1fr) / repeat(5,1fr);
    /*min max( 200px, 300px); in the fraction*/
    width: 100%;
    height: 100vh;
}
.menuContainer{
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    background: black;
    height: 100%;
    z-index: 1;
}
.health{
    grid-column: 3 / 6;
    grid-row: 4 / 10;
    width: 100%;
    height: 99vh;
}
.formSurvey{
    display: flex;
    grid-column: 1 / 3;
    grid-row: 4 / 7;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 100px 32px 32px 32px;

}
/* .calendar{
    grid-column: 1 / 3;
    grid-row: 6 / 11;
    background: black;
    width: 100%;
    height: 100%;
} */
body{
     background-image: url(../assets/hero.jpg); 

     background-size: 100% 100%;
    /* background-image: linear-gradient(to right top, #051937, #123460, #1b528c, #1e73ba, #1296eb); */
    /* background-image: linear-gradient(to bottom, #264c55, #264c55, #264c55, #264c55, #264c55, #254a54, #254852, #244651, #23414d, #223c4a, #223845, #213341);
 */}
.iframe{
    height: 85%;
}
/*---------ANIMATION MENU-----------------*/

.fullMenu{
    color: white;
    position: absolute;
    background: black;
    width: 100%;
    height: 100vh;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullMenu ul a {
    cursor: pointer;
    font-family: 'Vollkorn', serif;
    font-size: 45px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 3px;
    list-style: none;
    width: 100%;
    /* border-bottom:  2px solid white; */
    margin-bottom: 50px; 
    margin-top: 50px; 
    padding: 0px 250px 0 250px; 
    width: 100%;
}
.fullMenu li{
        font-family: 'Vollkorn', serif;
    font-size: 45px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 3px;
    list-style: none;
}
.container .menuContainer{
    justify-content: flex-end;
    display: flex;
}

.container .menuContainer .menu{
    position: relative;
    transform: translate(-140%, 0%);
    width: 60px;
    height: 100px;
    cursor: pointer;
    top: 3px;
    z-index: 1;
}
.container .menuContainer .menu .line{
    position: absolute;
    width: 100px;  
    transition: all .3s;
}
.container .menuContainer .menu .line1{top: 0%;}
.container .menuContainer .menu .line2{top: 30%;}
.container .menuContainer .menu .line3{top: 60%;}

.container .menuContainer .menu.close .line1{
    transform: rotate(45deg) ;
    top: 30%;
}

.container .menuContainer .menu.close .line2{
    transform: rotate(45deg) ;
    top: 30%;
}

.container .menuContainer .menu.close .line3{
    transform: rotate(-45deg) ;
    top: 30%;
} 
/*-------------HOVER -------------*/
a{
    color: white; 
}
a:hover{
    background-image: url(../assets/menuHover_1.svg);
    color: black;
    background-repeat: no-repeat;
    /* background-size: 660px; */
    background-size: cover;
}
/*-----------FORM STYLES----------*/

.form{
    width: 440px;
    margin: 0 auto;
    border-radius: 5px;
    background: rgba(0,0,0,.55);
    color: #fff;
    padding: 32px;
    height: 90%;
}
#nDocument{
    border-radius: .25rem;
    max-width: 20rem;
    background-color: #192038;
    border: 1px solid rgb(16, 20, 38);
    color: #fff;
    padding: 7px 16px;
    height: 35px;
}
#formButton{
    background-color: rgba(143,155,179,.24);
    border-color: rgba(143,155,179,.24);
    color: rgba(143,155,179,.48);
    padding: .6875rem 1.125rem;
}
.Survey{
    display: grid;
    align-items: center;
    height: 100%;
}